@tailwind base;
@tailwind components;
@tailwind utilities;

#card-element {
  border-radius: 0.5rem;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: rgb(201, 191, 247);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}
