@tailwind base;
@tailwind components;
@tailwind utilities;

#card-element {
  border-radius: 0.5rem;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: rgb(201, 191, 247);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

#phone-input {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 550px;
  outline: none;
}
.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
  user-select: none;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

table {
  display: table;
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed !important;
  width: 100%;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  word-wrap: break-word;
}
colgroup {
  display: table-column-group;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  background-color: #f1f3f5;
  font-weight: 700;
  text-align: left;
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
  display: table-cell;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
td {
  display: table-cell;
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
