@tailwind base;
@tailwind components;
@tailwind utilities;

#card-element {
  border-radius: 0.5rem;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: rgb(201, 191, 247);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

#phone-input {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 550px;
  outline: none;
}
